@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&family=Poppins:wght@600&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;box-sizing: border-box;

}

/* header section */
header {
    background-color: rgba(255, 144, 14, 0.10);
}

nav {
    padding: 40px 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 18px;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

.nav-title {
    font-size: 35px;
    font-weight: 700;
    color: #131313;
}

/* banner-style */
.banner{
    padding: 0px 240px;
}
.banner-contant {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    font-size: 64px;
    font-weight: 700;
    color: #131313;
}

.banner-discription {padding-top: 20px;
    padding-bottom: 20px;
    font-size: 16px;
    color: #272727;
}

.banner img {
    width: 100%;





}

.primary-btn {
    border-radius: 8px;
    background-color: orangered;
    padding: 20px 25px;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 30px;
    cursor: pointer;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
/* team section */
.teams-container{
    padding-top: 30px;
    width: 1318px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}
.team-image-containe{
    width: 707px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
   
}
.teams-contant{
    width: 550px;
    text-align: justify;
    
  
}
.teams-title{
    font-size: 45px;
    padding-bottom: 20px;
}
.team-dis{
    padding-bottom: 20px;
}
/* facts section */
.card{
    width: 240px;
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 20px;
    
    
   
}
.facts-card-container{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}
.facts-card-container .card-star{
    font-size: 40px;
    color: #424242;
    margin-top: 10px;
    
    
   
}
.facts-card-container .card-title{
    font-weight: 600;
    color: #f91616;
    font-size: 20px;
    margin-top: 10px;
}
.section-title{
    padding-top: 30px;
    font-size: 30px;
    
}
.text-light-gray{
    padding-top: 15px;
    width: 500px;
    font-size: 20px;
    color: gray;
}
.sopnsor h1{
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    color: #272727;
    padding-top: 100px;
}
.sopnsor p{
    text-align: center;
   
    padding: 20px;
}
.sponsor-container{
    margin-top: 50px;
    
    display: flex;justify-content: space-evenly;
    padding-bottom: 50px;
}
.sponsor-container img{
    color: gray;
}
footer{
    width: 1440px;
    text-align: center;
    background-color: #FFF4E7;
    padding: 15px;
    margin: 0 auto;
}




/*  respnsive*/
@media screen and (max-width: 576px){
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
    }
    .nav-title{
        font-size: 20px;
    }
    .banner{
        padding: 0;
    }
}